/*

html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
html5doctor.com/html-5-reset-stylesheet/

Some base styling from Paul Irish's HTML5 Boilerplate: http://github.com/paulirish/html5-boilerplate/blob/master/css/style.css
Table styling from SenCSS: http://sencss.kilianvalkhof.com/

*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
}

html { overflow-y: scroll; -webkit-font-smoothing: anti-aliased; }

table { font-size: inherit; font: 100%; }

select, input, textarea, button { font: 99% sans-serif; }

body, select, input, textarea { color: #444; }

body {
	width: 1080px;
	margin: 0 auto 40px;
	font: 15px/24px Cambria, Georgia, "Times New Roman", Times, serif;;
	background: #FFF;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #333;
	margin: 1em 0 0.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 { font-size: 2em; }

#main h1, #primary-content h1, body > section h1, body > article h1, h2 { font-size: 1.75em; }

h3 { font-size: 1.6em; }

h4 { font-size: 1.4em; }

h5 { font-size: 1.25em; }

h6 { font-size: 1.1em; }

b, strong, th { font-weight: bold; }

i, em { font-style: italic; }

a { color: #000; text-decoration: none; }

a:hover, a:active {
	background: #000;
	color: #FFF;
	outline: none;
	text-decoration: underline;
}

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

small { font-size: 85%; }

sub { vertical-align: sub; font-size: smaller; }

sup { vertical-align: super; font-size: smaller; }

p { margin-bottom: 0.8em; color: #444; }

.error, .success { padding: 0.25em 0.5em; font-weight: bold; }

.error { background: #FFEEEE; border: 1px solid #C98F8F; }

.success { background: #EEFFEE; border: 1px solid #8FC98F; }

cite { font-weight: normal; color: #666; font-style: normal; font-size: 13px; }

pre, code, kbd, samp, tt { font: 12px "Monaco", "Inconsolata", "Courier New", Courier, monospace; }

pre { 
	padding: 15px; 	
	background: #F4F5F1;
	border: 1px solid #E4E7DD;
	margin-bottom: 0.8em;
	white-space: pre;
	word-wrap: break-word;
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

input:invalid { 
	border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red; 
	-webkit-box-shadow: 0px 0px 5px red; 
	box-shadow: 0px 0px 5px red;
}

ul {
	list-style-type: disc;
	margin: 0 0 0.8em 2.5em;
}

ol {
	list-style-type: decimal;
	margin: 0 0 0.8em 2.5em;
}

blockquote {
	font-style: italic;
	margin: 0.8em 0;
	padding: 10px;
	background: #F4F5F1;
	border: 1px solid #E4E7DD;
}

blockquote p { margin-bottom: 0; }

code, kbd, samp, tt { 
	background: rgba(0, 0, 0, 0.15);
}

dl {
	padding: 10px;
	background: #F4F5F1;
}

dt { font-weight: bold; }

dd {
	margin-bottom: 1em;
	font-size: 13px;
}

abbr { cursor: help; border-bottom: 1px dotted #999; }

form {
	padding: 10px;
	background: #F4F5F1;
	border: 1px solid #E4E7DD;
}

fieldset {
	padding: 1em;
	border: 1px solid #b6bca2;
	margin-bottom: 0.8em;
}

legend { padding: 0 0.5em; }

input[type="text"], textarea {
	border: 1px solid #909090;
	padding: 0.5em;
}

textarea {
	resize: x;
	-moz-resize: x;
}

table {
	 border-collapse: collapse;
	 border-spacing: 0;
	 margin: 0 0 1.5em;
	 padding: 0;
}

caption {
	 font-style: italic;
	 text-align: left;
}

tr.alt td {
  background: #eee;
}

td {
	 border: 1px solid #909090;
	 padding: 0.333em;
	 vertical-align: middle;
}

th {
	 font-weight: 700;
	 padding: 0.333em;
	 vertical-align: middle;
}

/* Wildcard's are hardly the most efficient way of doing things but we don't really have much choice */
body > * { 
	margin: 0 0.625%;
	float: left;
	display: block;
}

header, #header { 
	margin: 0 -0.625em 1.5em; 
	padding: 2em 1em 0;
	background: #0B0A0E; 
	color: #FFF;
	width: 100%;
}

header * { color: #FFF !important; }

header ul, #header ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

header ul li, #header ul li {
	float: left;
}

nav li a, header li a, #header li a {
	color: #FFF;
	display: block;
	margin-right: 1px;
	padding: 0.25em 1.5em 0.3em;
	background: #333;
}

nav li a:hover, header li a:hover, #header li a:hover { background: #444; }

body > section, body > article, #main, #primary-content {
	width: 67.5%;
	float: left;
}

body > section *:first-child, body > article *:first-child, #main *:first-child, #primary-content *:first-child { margin-top: 0 !important; }

body > aside, #sidebar, #secondary-content {
	width: 30%;
	float: left;
}

body > aside *:first-child, #sidebar *:first-child, #secondary-content *:first-child { margin-top: 0 !important; }

footer, #footer {
	clear: both;
	width: 98.75%;
}